.grid{
    margin-top: 1rem;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,150px));
    justify-content: center;
    gap: .5em;
}
.card{
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    height: 200px;
}
.card-2{

    background-color: rgb(10, 84, 180);

}